anyio==4.4.0
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
db @ git+https://github.com/E-commerce-Pecista/db-connection.git@467278be13633642dabb8989ac5de150ad8dfcdb
ecomm @ git+https://github.com/e-commerce-Pecista/ecomm-tools@4d389836cc3967d4a476acf8c8881a7858c10f19
et-xmlfile==1.1.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
ml @ git+https://github.com/E-commerce-Pecista/ml-interface.git@0e769454cd4297436fabfcd2e641a93e6baecf63
mysql-connector-python==9.0.0
numpy==2.1.1
openpyxl==3.1.5
pandas==2.2.2
psycopg==3.2.2
psycopg-binary==3.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
rich==13.8.1
six==1.16.0
sniffio==1.3.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
